html, body
{
    background-color: black;
    height: 100%;
    margin:0;
    padding:0;
}

div {
    position:relative;
    height: 100%;
    width:100%;
}

div img {
    margin: 0 auto 0;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 500px;
}

h3 {
  position: absolute;
  top: 80%;
  left:0;
  right:0;
  margin: 0 auto 0;
  font-family: Montserrat, sans-serif;
  text-align: center;
  color: #d9d9d9;
  font-weight: 200;

}

.ig {
  width: 30px;
  padding-bottom: 100px;
}
